body {
    border-radius: 500px;
    background: #4a4545;
    font-family: 'Dosis', sans-serif;
    box-shadow:  30px 30px 61px #3f3b3b,
             -30px -30px 61px #554f4f;
    height: 500px;
}

.game {
    border: 4px solid aqua;
    font-size: 45px;
    color: #D5CFCD;
    margin-top: 50px;
}

.game a {
    text-decoration: none;
    color: #D5CFCD;
}

.game-li {
    list-style: none;
    text-align: center;
}

.game-p {
    list-style: none;
    text-align: center;
}

.foot {
    color: white;
}

.anti {
    text-decoration: underline;
}