body {
    border-radius: 50px;
    background: #4a4545;
    font-family: 'Dosis', sans-serif;
    box-shadow:  30px 30px 61px #3f3b3b,
             -30px -30px 61px #554f4f;
    height: 900px;
}

.dino {
    border: 4px solid aqua;
    font-size: 45px;
    color: #D5CFCD;
}

.div a {
    text-decoration: none;
    color: #D5CFCD;
}

.div li {
    list-style: none;
    text-align: center;
}

.div p {
    list-style: none;
    text-align: center;
}

